@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  background-color: sandybrown;
  font-family: "Roboto", sans-serif;
}

img {
  height: 180px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1,
img,
.description {
  text-align: center;
  align-self: center;
}
